<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/api/public/styles.css" media="screen" />
</head>

<body>
    <div class="login-wrapper">
        <form class="card form" id="reset-password-form" method="POST" action="/api/reset_password">
            <h3>
                Reset password
            </h3>
            <div class="form-row">
                <label for="email">Email Address: </label>
                <input type="text" form="reset-password-form" id="email" maxlength="60" placeholder="email"
                    required="required" autocapitalize="none" autocomplete="email" name="email" value={{email}}>
            </div>
            <div class="form-row">
                <label for="code">Reset Code: </label>
                <input type="text" form="reset-password-form" id="code" maxlength="36" minlength="36"
                    placeholder="the code emailed to you" required="required" autocapitalize="none" name="code"
                    value={{code}}>
            </div>
            <div class="form-row">
                <label for="new-password">New Password: </label>
                <input type="password" form="reset-password-form" id="new-password" maxlength={{max_password_len}}
                    minlength={{min_password_len}} placeholder="password" required="required" name="new_password"
                    autocomplete="new-password" />
            </div>
            <div class="form-row">
                <label for="new-repeat-password">Confirm new Password: </label>
                <input type="password" form="reset-password-form" id="new-repeat-password"
                    maxlength={{max_password_len}} minlength={{min_password_len}} placeholder="repeat password"
                    required="required" name="new_password_repeat" autocomplete="new-password" />
            </div>
            {{#if error}}
            <p class="error-message">{{error}}</p>
            {{/if}}
            <input type="submit" form="reset-password-form" id="submit" value="Set new password" />

            {{#if info}}
            <p>{{info}}</p>
            {{/if}}

            <a href="/api/login">Login</a>
        </form>
    </div>
</body>

</html>